[submodule "packages/algokit-utils"]
	path = packages/algokit-utils
	url = git@github.com:PhearZero/algokit-utils-ts.git
[submodule "packages/algokit-client-generator"]
	path = packages/algokit-client-generator
	url = git@github.com:PhearZero/algokit-client-generator-ts.git
[submodule "packages/ts-toolkit"]
	path = packages/ts-toolkit
	url = git@github.com:PhearZero/ts-toolkit.git
